version: "3.9"
services:
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      - MONGODB_URI=mongodb://mongo:27017/gold-bars
    depends_on:
      - mongo
volumes:
  mongo-data:
